.ba-calendar {
    margin-top: 4em;
    display: block;
}

.ba-calendar table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: var(--font-family-texts);
}

.ba-calendar tr,
.ba-calendar tbody {
    display: contents;
}

.ba-calendar tr:nth-child(even) td {
    border-top: none;
}

.ba-calendar td {
    border: 1px solid var(--primary);
    padding: 1em 1.5em 1em 3em;
    font-size: 1.125em;
}

.ba-calendar .title {
    font-size: .9375em;
}

.ba-calendar .location {
    font-size: .84375em;
}

.ba-calendar td:first-child {
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ba-calendar td:last-child {
    border-right: none;
    border-left: none;
    text-transform: uppercase;
    font-size: .8rem;
    display: flex;
    align-items: center;
}

@media (max-width: 800px) {
    .ba-calendar td {
        font-size: 0.9rem;
        padding-left: 1rem;
        padding-right: 0;
    }

    .ba-calendar td:first-child {
        justify-content: left;
    }

    .ba-calendar .title {
        font-size: 0.8rem;
    }
}
