@import url("./fonts.css");

body {
    margin: 0;
}

body.page {
    font-size: var(--font-size);
    font-family: var(--font-family);
    background: var(--background);
    color: var(--primary);
    min-height: 100vh;
}

body.home {
    background: var(--background);
}

button {
	border: none;
	cursor: pointer;
	background: none;
	width: 2em;
	height: 2em;
	display: flex;
	padding: 0;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    text-decoration: underline;
}

img[data-src] {
	visibility: hidden;
}

.home a {
    display: block;
    height: 99vh;
}

.home img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.home.image a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home.image img {
    max-width: 800px;
}

#header {
	position: sticky;
    top: -140px;
    z-index: 4;
    padding: 1.5rem 0 1rem 0;
    background: var(--background);
    transition: height 0.3s ease-in-out;
}

#header h1 {
    margin: 0;
}

#header h1 a {
    display: block;
}

#header h1 a:hover {
    text-decoration: none;
}

#header h1 a > span {
	display: block;
	text-align: center;
}

#header .pageTitle {
	display: none;
}

h1 img {
    object-fit: contain;
    width: 100%;
    height: 110px;
    transition: height 0.3s ease-in-out;
}

#header h1 a > span {
	transition: all 0.3s ease-in-out;
}

/*.page_scrolled_yes #header h1 a > span {*/
/*	font-size: 60%;*/
/*	transition: all 0.3s ease-in-out;*/
/*}*/

/*.page_scrolled_yes #header {*/
/*    padding: 0.75rem 0 0.5rem 0;*/
/*    transition: height 0.3s ease-in-out;*/
/*}*/

/*.page_scrolled_yes #header h1 img {*/
/*    height: 30px;*/
/*    transition: height 0.3s ease-in-out;*/
/*}*/

#main {
    max-width: 1140px;
    margin: auto;
    padding: 0 0.5em;
}

#main .breadcrumb {
	font-size: 110%;
	position: fixed;
	margin-top: -3.7em;
	background: var(--background);
	width: 100%;
	padding-bottom: 0.5em;
}

#main .breadcrumb .selected {
	color: var(--link-color-hover);
	font-weight: bold;
}

#main .breadcrumb .spacer span {
	display: none;
}

#main .breadcrumb .spacer:before {
	content: ' / ';
}

/* FOOTER */
footer {
	min-height: 3.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.socialNetwork {
    display: flex;
    justify-content: center;
}

.socialNetwork a {
    padding: 0 0.5rem;
}

.copyright {
	font-size: 0.7em;
	margin: 0.3em;
}

/* MENU */
#navigation ul {
	display: flex;
	justify-content: center;
	gap: 1em;
	list-style: none;
	padding: 0;
	font-size: 120%;
	margin: 0.5em;
	flex-wrap: wrap;
}

#navigation ul li {
	flex-wrap: wrap;
}

#navigation ul a {
	display: inline-block;
	font-weight: bold;
	position: relative;
}

#navigation ul a:after {
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	left: 50%;
	position: absolute;
	background: var(--link-color);
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}

#navigation ul a.selected {
	pointer-events: none;
	color: var(--link-color-hover);
}

#navigation ul a:hover {
	text-decoration: none;
	color: var(--link-color-hover);
}

#navigation ul a:hover:after,
#navigation ul a.selected:after {
	width: 100%;
	left: 0;
}

/* MENU SECTION */
#sectionMenu ul {
	display: flex;
	justify-content: center;
	gap: 1em;
	list-style: none;
	padding: 0;
	margin: 0 0 0.5em 0;
	font-size: 90%;
	font-family: var(--font-family-texts);
}

/* LOADER */
body {
    opacity: 0;
}

.loader {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	background:rgba(255,255,255,0.6);
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
}

.spinner {
	width: 50px;
	height: 50px;
	border: 8px solid;
	border-color: var(--secondary) transparent var(--secondary) transparent;
	border-radius: 50%;
	animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* SCROLLBARS */
*::-webkit-scrollbar {
	width: 5px;
}

* {
	scrollbar-color: var(--primary) var(--secondary);
	scrollbar-width: thin;
}

*::-webkit-scrollbar-track {
	background: var(--secondary);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--primary);
	border-radius: 6px;
}


body.page.band {
	font-family: var(--font-family-band);
	background: var(--background-band);
    color: var(--primary-band);
}

.band a {
	color: var(--link-color-band);
}

.band #header {
	background: var(--background-band);
}

.band #navigation ul a:hover,
.band #navigation ul a.selected {
	color: var(--link-color-hover-band);
}

.band h1 img {
	display: none;
}

.band h1 a {
	text-align: center;
	color: #f77f00;
	font-size: 1.5em;
}

.band h1 a:hover {
	text-decoration: none;
}

.band h1 a::before {
	content: "Led Zeppelin";
}

.band button svg {
	fill: var(--primary-band);
}

@media (max-width: 900px) {
	body.home {
		padding: 1em;
		overflow: hidden;
	}

	#header {
		display: flex;
		padding: 0.5em;
		align-items: center;
		justify-content: space-between;
		top: 0;
	}

	#header .pageTitle {
    	margin: 1em 0;
    	text-align: center;
    	display: block;
    	font-size: 1.5em;
		width: 100%;
		font-weight: bold;
    }

	#navigation {
		background: var(--background);
		border-left: 1px solid var(--primary);
		position: fixed;
		width: 15em;
		top: 0;
		right: 0;
		bottom: 0;
		transform: translate(15em, 0);
		transition: transform .2s;
		display: flex;
		flex-direction: column-reverse;
		justify-content: start;
		z-index: 2;
	}

	#navigation .closeButton svg,
	#navigation .responsiveButton svg {
		fill: var(--primary);
	}

	#navigation .closeButton svg {
		padding-left: 5px;
	}

	.responsiveHover.open {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: var(--primary);
		opacity: 0.7;
	}

	#navigation ul {
		justify-content: left;
		gap: 0.5em;
	}

	#navigation.open {
		transform: translate(0, 0);
		transition: transform .2s;
	}

	h1 img {
        height: 50px;
    }

    #sectionMenu {
		position: absolute;
		top: 4.5em;
		width: 100%;
		left: 0;
    }

    #sectionMenu ul {
		display: flex;
		flex-wrap: wrap;
    }

    .band h1 a {
        font-size: 0.5em;
    }

    .band #navigation {
		background: var(--background-band);
    }

    .band #navigation .closeButton svg,
    .band #navigation .responsiveButton svg {
		fill: var(--primary-band);
	}

	.band #header .pageTitle {
		display: none;
	}

	.band #sectionMenu {
		position: static;
		width: 100%;
	}
}
