.ba-form form {
    max-width: 40em;
    margin: auto;
}

.ba-form form div {
	margin-bottom: 0.5em;
}

.ba-form form label {
    margin-bottom: 0.1em;
    display: block;
}

.ba-form input[type="text"],
.ba-form textarea {
	width: 100%;
	border: 1px solid var(--secondary);
	background: var(--form-background);
	margin: 0 0 6px;
	padding: 0.1em;
	border-radius: 0.2rem;
	min-height: 1.7em;
	transition: border-color 0.3s ease-in-out;
}

/*.ba-form input[type="text"]:hover,*/
/*.ba-form textarea:hover {*/
/*	transition: border-color 0.3s ease-in-out;*/
/*	border: 1px solid var(--secondary);*/
/*}*/

.ba-form textarea {
	height: 100px;
	max-width: 100%;
}

.ba-form input:focus,
.ba-form textarea:focus {
	outline: 0;
	border: 1px solid var(--primary);
	transition: border-color 0.3s ease-in-out;
}

.ba-form div.submitButton {
	display: flex;
	justify-content: center;
}

.ba-form form button {
	cursor: pointer;
	outline: 0;
	display: inline-block;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	background-color: transparent;
	border: 1px solid var(--primary);
	padding: 6px 12px;
	font-size: 1rem;
	border-radius: .25rem;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	color: var(--primary);
	width: fit-content;
	height: fit-content;
}

.ba-form button:hover {
	color: var(--background);
	background-color: var(--primary);
	border-color: var(--primary);
}
