body.is-fullscreen-carousel {
	overflow: hidden;
}

.ba-slider {
	cursor: pointer;
}

.ba-slider > div:not(.tools) {
	animation: fade-in ease-in 0.5s forwards;
}

.ba-slider > div.not_visible {
    animation: fade-out ease-out 0.5s forwards;
}

.ba-slider > div[hidden] {
	display: none;
}

.tools svg {
    transform: scale(0.8);
    fill: #0d1b2a;
}

@keyframes fade-in {
	0% {
		display: none;
		opacity: 0;
	}
	100% {
		display: block;
		opacity: 1;
	}
}

@keyframes fade-out {
	100% {
		opacity: 0;
		display: none;
	}
}

.ba-slider img {
	object-fit: cover;
	object-position: 50% 50%;
	position: absolute;
	top: 0;
	animation-duration: 4.5s;
}

.ba-slider > div.odd img {
	animation-name: forward;
}

.ba-slider > div.even img {
	animation-name: back;
}

@keyframes forward {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.4) translate(var(--rand));
	}
}

@keyframes back {
	0% {
		transform: scale(1.6);
	}
	100% {
		transform: scale(1.2) translate(var(--rand));
	}
}

.tools {
	display: flex;
	position: absolute;
	bottom: 25px;
	right: 20px;
	background: var(--background);
	border-radius: 3px;
	box-shadow: 0 6px 8px 0 rgba(0, 0, 0, .2);
	opacity: 0.1;
	transition: opacity 0.25s ease-out;
	padding: 3px;
}

.tools:hover {
	opacity: 1;
	transition: opacity 0.25s ease-out;
}

.tools button {
	cursor: pointer;
	border: none;
	background: none;
}

.tools button:before {
	width: 15px;
	height: 15px;
	display: block;
}
