.ba-gallery {
    margin-top: 4em;
}

.ba-gallery .gallery img {
    padding: 0 var(--imageGalleryPadding);
}

.container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
	flex-direction: column;
	display: flex;
	animation: fade-in ease-in 0.5s forwards;
}

.container[hidden] {
	animation: fade-out ease-out 0.5s forwards;
}

.container .hover {
	background: var(--primary);
	opacity: 0.7;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.container .images {
	display: grid;
	grid-template-columns: 1fr;
	flex: 1;
	position: relative;
	z-index: 2;
	overflow: auto;
}

.container .images div {
	grid-row-start: 1;
	grid-column-start: 1;
	margin: auto;
}

.container .images div.isMag {
	cursor: zoom-in;
}

.container .images div.isMagOn {
	background-position: 50% 50%;
	overflow: hidden;
}

.container .images div.isMag.isMagOn {
	cursor: zoom-out;
}

.container .images div.isMagOn > img {
	opacity: 0;
}

.container .images img {
	transition: opacity ease-out 0.5s;
	opacity: 1;
	display: block;
	margin: auto;
}

.container .images img[hidden] {
	opacity: 0;
	transition: opacity ease-out 0.5s, height 0ms 0.5s;
	height: 0 !important;
}

.container .images .legend {
	color: var(--background);
	text-align: center;
	transition: opacity ease-out 0.2s;
    opacity: 1;
}

.container .images div[hidden].legend{
	opacity: 0;
	transition: opacity ease-out 0.2s, height 0ms 0.2s;
	height: 0 !important;
}

.container .thumbs {
	display: flex;
	gap: 0.5em;
	margin: 0 1em 0.5em 1em;
	overflow: hidden;
	position: relative;
	z-index: 2;
}

.container .thumbs img {
	height: 100px;
	cursor: pointer;
	margin: 1px;
}

.container .thumbs img.selected {
	box-shadow: 0 0 0 1px var(--selected);
}

.container .tools {
	z-index: 10;
}

.container .tools button span {
	display: none;
}

.container .tools button {
	color: var(--background);
	width: 30px;
	height: 30px;
	border: none;
	background: none;
	cursor: pointer;
}

.container .tools .close {
	position: absolute;
	right: 5px;
	top: 7px;
	background-size: 23px;
}

.container .tools .left {
	position: absolute;
	left: 8px;
	top: 50%;
	margin-top: -65px;
}

.container .tools .right {
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -65px;
}

.container .tools svg {
    transform: scale(0.9);
    fill: #e0e1dd;
}

@keyframes fade-in {
	0% {
		display: none;
		opacity: 0;
	}
	100% {
		display: flex;
		opacity: 1;
	}
}

@keyframes fade-out {
	100% {
		opacity: 0;
		display: none;
	}
}
