.ba-map-gallery {
    margin: 4em auto 0;
}

.ba-map-gallery .map {
    height: 550px;
}

.leaflet-popup-content {
	margin: 20px 10px 5px;
	overflow: hidden;
}

.leaflet-popup-content > div {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.leaflet-pane,
.leaflet-top,
.leaflet-bottom {
    z-index: 3;
}

.map-gallery-popup {
	width: auto;
	max-height: 160px;
	max-width: 100px;
}

.map-gallery-thumbs {
	margin-top: 5px;
	display: flex;
	gap: 4px;
	overflow: hidden;
}

.map-gallery-thumbs img {
	height: 50px;
}

@media (max-width: 900px) {
	.ba-map-gallery .map {
		height: 400px;
	}
}
