.ba-members {
    margin-top: 4em;
}

.ba-members > div {
    display: flex;
    justify-content: space-between;
}

.ba-members > div > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.ba-members .name {
    font-size: 25px;
    text-transform: lowercase;
    margin-bottom: 1.5rem;
    text-align: center;
}

.ba-members img {
    width: 149px;
    object-fit: cover;
    object-position: 50% 10%;
    height: 324px;
}

@media (max-width: 1000px) {
    .ba-members img {
        width: 110px;
        height: 270px;
    }
}

@media (max-width: 800px) {
    .ba-members > div {
        display: block;
    }

    .ba-members > div > div {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .ba-members img {
        width: 260px;
        height: 380px;
    }
}
