.ba-slider {
	cursor: pointer;
}

header#header.slider {
	padding-top: 0;
	top: -360px;
}

.slider .ba-slider {
	position: relative;
	height: 360px;
	overflow: hidden;
	display: grid;
	/*transition: height 0.5s ease-in-out;*/
}

/*.page_scrolled_yes .slider .ba-slider {*/
/*	height: 0;*/
/*	transition: height 0.5s ease-in-out;*/
/*}*/

.ba-slider > div:not(.tools) {
	animation: fade-in ease-in 0.5s forwards;
	grid-row-start: 1;
	grid-column-start: 1;
}

.ba-slider > div.not_visible {
    animation: fade-out ease-out 0.5s forwards;
}

.ba-slider > div[hidden] {
	display: none;
}

@keyframes fade-in {
	0% {
		display: none;
		opacity: 0;
	}
	100% {
		display: block;
		opacity: 1;
	}
}

@keyframes fade-out {
	100% {
		opacity: 0;
		display: none;
	}
}

.tools {
	display: flex;
	position: absolute;
	bottom: 25px;
	right: 20px;
	background: var(--background);
	border-radius: 3px;
	box-shadow: 0 6px 8px 0 rgba(0, 0, 0, .2);
	opacity: 0.1;
	transition: opacity 0.25s ease-out;
	padding: 3px;
}

.tools:hover {
	opacity: 1;
	transition: opacity 0.25s ease-out;
}

.tools button {
	cursor: pointer;
	border: none;
	background: none;
	display: flex;
	justify-content: center;
}

.tools button:before {
	width: 15px;
	height: 15px;
	display: block;
}

.tools svg {
    transform: scale(0.8);
    fill: #0d1b2a;
}

.ba-slider img {
	position: absolute;
	height: auto;
	animation: parallax linear;
	animation-timeline: scroll(root);
	width: var(--width);
	min-width: 900px;
	top: var(--top);
}

@keyframes parallax {
	from {
		transform: 0;
	}
	to {
		transform: translateY(-360px);
	}
}


@media (max-width: 900px) {
	.ba-slider {
    	display: none !important;
    }

    header#header.slider {
        top: 0;
    }
}
