.ba-texts {
	margin-top: 4em;
    display: block;
}

.ba-texts article.block {
	font-family: var(--font-family-texts);
	font-weight: 400;
	font-style: normal;
	margin-block: 2rem;
}

.ba-texts .block.emphasis {
	border-inline-start: 2px solid var(--primary);
	padding: 0.5em 1em;
}

.ba-texts .blockTi {
	font-size: var(--block-ti-size);
	margin-block-end: 1rem;
}

.ba-texts .tis.emp {
	font-weight: bolder;
}

.ba-texts .tis.spec {
	font-style: italic;
}

.ba-texts [role=link] {
	text-decoration: underline;
	text-decoration-color: var(--primary);
	cursor: pointer;
}

.ba-texts p {
	margin: 1.27em auto;
	line-height: 1.5em;
}

.ba-texts ul, ol {
	padding-inline-start: 2em;
}

.ba-texts li p {
	margin: 0.5em auto;
}

.ba-texts table{
	border-collapse: collapse;
	margin:0 auto;
}

.ba-texts table td{
	padding-inline:.2em;
}

/*.ba-texts table tr:nth-child(even) {*/
/*  background-color: #f0f0f0;*/
/*}*/

.ba-texts table tr.head{
  border-bottom: 2px solid;
}

.ba-texts table th{
  text-align:left;
}

.ba-texts .img {
    margin: 1em auto;
    display: block;
	object-fit: contain;
    max-width: 100%;
}

.ba-texts .legend{
	font-style: italic;
	color: var(--secondary);
	font-size:.9em;
	text-align: center;
}

.ba-texts .quote:before {
	content: "« "
}

.ba-texts .quote:after {
	content: " »"
}

.ba-texts .sub {
	vertical-align: sub;
}

.ba-texts .sup {
	vertical-align: super;
}

.ba-texts .visavis .grid {
	display: grid;
	grid-column-gap: 5px;
	grid-template-columns: auto auto;
}

.ba-texts .visavis.half-half .grid {
	grid-template-columns: 50% 50%;
}

.ba-texts .visavis.one-two .grid {
	grid-template-columns: 33% 66%;
}

.ba-texts .visavis.two-one .grid {
	grid-template-columns: 66% 33%;
}

.ba-texts .visavis.one-three .grid {
	grid-template-columns: 25% 75%;
}

.ba-texts .visavis.three-one .grid {
	grid-template-columns: 75% 25%;
}

.ba-texts .visavis.auto .grid {
	grid-template-columns: auto auto;
}

@media (max-width: 900px) {
	.ba-texts {
		margin-top: 2em;
	}

	.ba-texts .visavis .grid {
		display: block;
	}
}
