.ba-tiles {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	justify-content: center;
}

.ba-tiles > a {
	width: 500px;
	height: 300px;
	display: grid;
	grid-template-columns: 1fr;
	overflow: hidden;
	color: var(--primary);
}

.ba-tiles > a:hover {
	text-decoration: none;
}

.ba-tiles > a:hover > div {
	transform: scale(1.8);
	transition: transform 0.3s ease-in-out;
	position: relative;
	z-index: 2;
}

.ba-tiles > a:hover > img {
	transform: scale(1.2);
	transition: transform 0.3s ease-in-out;
}

.ba-tiles > a > div,
.ba-tiles > a > img {
	grid-row-start: 1;
	grid-column-start: 1;
	transition: transform 0.3s ease-in-out;
}

.ba-tiles > a > div {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 150%;
	background: var(--tiles-color);
	font-weight: bold;
}

.ba-tiles > a > img {
	object-fit: cover;
	object-position: 50% 50%;
	width: 100%;
	height: 100%;
}
