.ba-videos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2em;
    margin-top: 4em;
}

.ba-videos.oneVideo {
	justify-content: center;
}

.ba-videos > div {
    height: 279px !important;
    width: 496px !important;
    font-family: inherit !important;
}

.ba-videos.oneVideo > div {
	height: 96% !important;
    width: 96% !important;
    padding-bottom: 54.25%;
    position: relative;
}

.ba-videos.oneVideo > div.iframe > iframe{
	position: absolute;
	top: 0;
	left: 0;
}

.ba-videos > div.iframe > iframe{
	width: 100%;
	height: 100%;
}

.v-vlite {
	--vlite-colorPrimary: var(--background) !important;
}

@media (max-width: 1100px) {
    .ba-videos > div {
        width: 720px !important;
        height: 405px !important;
    }

    .ba-videos {
        justify-content: center;
    }
}

@media (max-width: 800px) {
    .ba-videos > div {
        height: 100% !important;
        width: 100% !important;
    }

    .ba-videos > div.iframe {
		padding-bottom: 56.25%;
		position: relative;
    }

    .ba-videos > div.iframe > iframe{
        position: absolute;
        top: 0;
        left: 0;
    }
}
