:root {
	--font-size: 1em;
	--font-family: "Nunito", "Helvetica Neue", Helvetica, Arial, sans-serif;
	--font-family-texts: "Roboto", sans-serif;
	--background: #e0e1dd;
	--form-background: #ffffff;
	--primary: #0d1b2a;
	--secondary: rgba(119,141,169,0.74);
	--link-color: #415a77;
	--link-color-hover: #1b263b;
	--tiles-color: rgba(119,141,169,0.3);

	--block-ti-size: 1.2rem;

	--selected: #a83232;


	--font-family-band: "Limelight", "Helvetica Neue", Helvetica, Arial, sans-serif;
	--background-band: #023047;
	--primary-band: #e0e1dd;
	--link-color-band: #959494;
	--link-color-hover-band: #e0e1dd;
}
