a:hover {
    color: var(--link-color-hover);
    text-decoration: none;
}

#header {
    top: 0;
}

#header img {
    animation: y-scroll;
	animation-timeline: scroll();
}

@media (max-width: 900px) {
    #header {
        justify-content: center;
    }

    #header img {
        animation: none;
    }
}

@keyframes y-scroll {
	0% {
		height: 110px;
	}

	20% {
		height: 50px;
	}

	100% {
		height: 50px;
	}
}
