:root {
	--font-size: 1em;
	--font-family: "Protest Riot", "Helvetica Neue", Helvetica, Arial, sans-serif;
	--font-family-texts: "Protest Riot", "Helvetica Neue", Helvetica, Arial, sans-serif;
	--background: #111;
	--form-background: #ffffff;
	--primary: #ede7cb;
	--secondary: #111;
	--link-color: #ede7cb;
	--link-color-hover: #75715c;
	--tiles-color: #ede7cb;

	--block-ti-size: 1.2rem;

	--selected: #a83232;
}
